.search {
    input {
        &:focus,
        &:not(:placeholder-shown) {
            outline: none;
            width: 200px;
        }
        &::placeholder {
            color: #283557;
        }
    }
}
